p {
  font-family: Courier;
  font-weigt: bold;
}
span{
  color: green;
}
table{
    border-collapse: collapse;
    width: 60%;
}
th {
    background-color: #20B2AA;
    color: white;
    padding: 20px;
    font-size: 20px;
}
td{
    padding: 20px;
}
tr:nth-child(odd){background-color: #FFFAFA}

img {
    float: right;
    margin: 0 0 px 70px;
}
h1{
  font-family: Chalkduster, fantasy;
  background-color: #E9967A;
  font-size: 40px;
}
h3{
  font-family:Impact, fantasy;
  font-size: 30px;
}
body{
  background-color: papayawhip;
}
